
**

!*/

!**/*.py

!.gitignore
!requirements.txt
!pyproject.toml

**/__pycache__/
**/*.pyc
**/.DS_Store
**/.ipynb_checkpoints/
**/wandb/
**/runs/
**/data/
**/*.pt
**/*.pth
**/*.ckpt
**/*.zip
**/*.tar
**/*.tar.gz
**/*.png
**/*.jpg
**/*.npy
**/*.npz

